{% extends "main.html" %}

{% block content %}
<div class="container-fluid px-5">

    {% if response["table"] != None and response["key"] != None and response["action"] == "read" %}
    
    <h1 class="mb-4">{{ response["table"]|title }}</h1>

    {% if "messages" in response %}
    {% if "ERROR" in response["messages"] %}
    <div class="alert alert-warning" role="alert">
        {{ response["messages"] }}
    </div>
    {% else %}
    <div class="alert alert-success" role="alert">
        {{ response["messages"] }}
    </div>
    {% endif %}
    {% endif %}

    {% if response["table"] == "employee" %}
        {% include 'employee.html' %}
    {% elif response["table"] == "consultant" or response["table"] == "contractor" %}
        {% include 'external.html' %}
    {% elif response["table"] == "candidate" %}
        {% include 'candidate.html' %}
    {% else %}
    <div class="alert alert-warning" role="alert">
        ERROR: REQUESTED DATA NOT FOUND OR DOES NOT EXIST.
    </div>
    {% endif %}
    
    {% endif %}

</div>
{% endblock content %}