{% extends "main.html" %}


{% block content %}
<div class="container-fluid px-5">
    <h1 class="mb-4">Search Results</h1>

    {% if "payrolls" in response and response["payrolls"] != None %}
    {% if response["payrolls"].rowcount > 0 %}
    <table class="table table-sm table-hover table-bordered shadow-sm text-center mt-2">
        <thead>
            <tr>
                <th class="p-2 bg-white text-left" scope="col" colspan="11">
                    <span class="align-middle pl-2">
                        Payrolls
                    </span>
                </th>
            </tr>
            <tr class="text-center" style="background-color:#D6EAF8">
                <th scope="col" colspan="2" style="width:10%">Action</th>
                <th scope="col">Period</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for item in response["payrolls"] %}
            <tr>
                <td class="text-center"><a href="/payroll/details/edit/{{item.id}}"><i
                            class="fa-solid fa-edit fa-flip-horizontal "></i></a>
                </td>
                <td class="text-center"><a href="/payroll/details/delete/{{item.id}}"><i
                            class="fa-solid fa-trash fa-flip-horizontal"></i></a>
                </td>
                <td>{{item.proll_year}} / {{item.proll_month}}</td>
                <td>{{item.proll_status}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% endif %}

    {% if "defaultviews" in response %}
    <table class="table table-sm table-hover table-bordered shadow-sm text-center">
        <thead>
            <tr>
                <th class="p-2 bg-white text-left" scope="col" colspan="11"><span class="align-middle pl-2">Default
                        Views</span></th>
            </tr>
            <tr class="text-center" style="background-color:#D6EAF8">
                <!--<th scope="col" colspan="2" style="width:10%">Action</th>-->
                <th scope="col">Label</th>
                <th scope="col">Name</th>
                <th scope="col">Group</th>
                <th scope="col">URL</th>
                <th scope="col">Tab Active</th>
                <th scope="col">Allow Read (dflt)</th>
                <th scope="col">Allow Create (dflt)</th>
                <th scope="col">Allow Edit (dflt)</th>
                <th scope="col">Allow Delete (dflt)</th>
            </tr>
        </thead>
        <tbody>
            {% for item in response["defaultviews"] %}
            <tr style="background-color:#FFFFFF">
                <!--<td class="text-center"><a href="#edit"><i class="fa-solid fa-edit fa-flip-horizontal "></i></a></td>
                <td class="text-center"><a href="#delete"><i class="fa-solid fa-trash fa-flip-horizontal"></i></a></td>-->
                <td>{{item.view_label}}</td>
                <td>{{item.view_name}}</td>
                <td>{{item.view_group}}</td>
                <td>{{item.view_url}}</td>
                <td>{{item.view_tab_default}}</td>
                <td>{{item.allow_read_default}}</td>
                <td>{{item.allow_create_default}}</td>
                <td>{{item.allow_edit_default}}</td>
                <td>{{item.allow_delete_default}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

</div>
{% endblock content %}